Django==5.2.7
openpyxl>=3.1
pandas>=2.2
cryptography
requests
python-dotenv
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter
dj-database-url==3.0.1
psycopg2-binary
whitenoise==6.11.0
gunicorn
django-storages
boto3
celery[redis]
django-celery-beat
